# Vertex AI Configuration
GOOGLE_GENAI_USE_VERTEXAI=1
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=us-central1

# Model Settings
GEMINI_MODEL_NAME=gemini-2.5-flash
GEMINI_MODEL_TEMPERATURE=0.2

# Embedding Settings
EMBEDDING_MODEL_NAME=text-embedding-005
VECTOR_DIMENSIONS=768
VERTEX_AGENT_ENGINE_ID=
GOOGLE_CLOUD_STORAGE_BUCKET=

# Cloud SQL PostgreSQL database configurations
DB_USER=app_user
DB_PASSWORD=ediscovery_pass_123
DB_NAME=ediscovery
DB_HOST=127.0.0.1
DB_PORT=5433
